@model IEnumerable<Trash_Collector.Models.Customer>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pickup Schedule</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
        </tr>
    }

</table>

<h2>MapDisplay</h2>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7kReFMQpFIhKKFJA4TCGJ8KhN0yaTdrY&sensor=false"></script>

<p>
    <div id="map" style="width:100%;height:500px"></div>
    <div id="map"></div>
    <script>

       var map;
       function initMap() {
           map = new google.maps.Map(document.getElementById('map'), {
               center: { lat:44, lng: -78 },
               zoom: 5
           });

            @foreach (var item in Model)
                    {
                    <text>
                        var marker = new google.maps.Marker({
                            position: { lat:@item.Latitude , lng:@item.Longitude  },
               map: map,
                        });
           map.setZoom(12);
           map.panTo(marker.position);
           </text>
                }
            }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsqAFQb_1VTMT5HBCUWHO5bE9I17LXxvw&callback=initMap">
    </script>
</p>